.card {
    width: 100px;
    height: 180px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    border: solid #646cff;
}

p {
    background-color: #242424;
    padding: 10px 25px;
    border-radius: 100px;
}